.App {
  margin-top: 50px;
}

.Wrapper {
  width: 700px;
  padding: 0px 30px;
  margin: 0px auto 30px;
}

.Tabs {

}

.Tabs__menu {
  display: flex;
}

.Tabs__menu__item {
  padding: 8px 12px;
  border: 1px solid #e1e1e1;
  border-bottom: none;
}

.Tabs__menu__item:hover {
  cursor: pointer;
}

.Tabs__menu__item:not(:last-child) {
  border-right: none;
}

.Tabs__menu__item--active {
  color: #2525ff;
}

.Tabs__body {
  padding: 8px 12px;
  border: 1px solid #e1e1e1;
}

.Tabs__content {
  display: none;
}
.Tabs__content--active {
  display: block;
}

.Accordion {

}

.Accordion__item {
  border: 1px solid #e1e1e1;
}

.Accordion__item:not(:last-child) {
  margin-bottom: 12px;
}

.Accordion__menu {
  padding: 8px 12px;
}

.Accordion__menu:hover {
  cursor: pointer;
}

.Accordion__content {
  display: none;
  padding: 8px 12px;
}

.Accordion__item--active .Accordion__menu {
  border-bottom: 1px solid #e1e1e1;
  color: #2525ff;
}

.Accordion__item--active .Accordion__content {
  display: block;
}

